:root {
    --cor-de-fundo: #ff0505;
    --verde: #f0ff19;
    --branco: #FFFFFF;
    --botao-ativo: #2617cf;
    --botao-inativo: rgba(146, 137, 241, 0.5);
    --texto-fundo: rgba(138, 138, 139, 0.3);
}
